body {
    height: 65em;
    width: auto;
    background-image: url("../images/mohammad-alizade-fKjJYw1vOf8-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body.swal2-height-auto {
    height: 0px;
}

h1 {
    text-align: center;
}

main {
    width: 80%;
    margin: auto
}

button {
    background-color: #FFFDF6;
}

thead {
    text-align: center;
    background-color: #FFFDF6;
}

td {
    text-align: center;
}

.green {
    background-color: #91B383;
}