body {
    height: 60em;
    width: auto;
    background-image: url("../images/mohammad-alizade-fKjJYw1vOf8-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    margin-top: 4em;
    margin-bottom: 2em;

}

h1 {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

main {
    width: 80%;
    margin: auto
}

h3 {
    font-size: 30px;
    margin-bottom: .25em;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bolder;
}

label {
    font-size: 20px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
}

input {
    margin-bottom: .75em;
    margin-top: .25em;
}

#submitButton {
    margin-top: .5em;
    margin-bottom: 1em;
}

thead {
    text-align: center;
    background-color: #FFFDF6;
}

td {
    text-align: center;
}

.completeButton {
    background-color: #85DE77;
}

.deleteButton {
    background-color: #FF756D;
}

.green {
    background-color: #91B383;
}